*.user
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
GameFeelMovementExercise/GameFeelMovementExercise/bin/
GameFeelMovementExercise/bin/
GameFeelMovementExercise/GameFeelMovementExercise/obj/
GameFeelMovementExercise/obj/
GameFeelMovementExercise/GameFeelMovementExerciseContent/obj/
!GameFeelMovementExercise/x64
!GameFeelMovementExercise/x86
!GameFeelMovementExercise/Libraries
